.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 58px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.avatar {
  padding: 10px;
  background-color: gainsboro;
  border-bottom: 2px solid silver;
}

.name {
  margin: 0;
  padding: 10px 5px 0;
  font-size: large;
  font-weight: 500;
}

.status {
  margin: 0;
  padding: 5px;
}

.isOnline {
  composes: status;
  color: forestgreen;
}

.isOffline {
  composes: status;
  color: orangered;
}
